:root {
  --bg-color: #ba0100;
  --text-color: #ffffff;
  --negro: #000000;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
}
.title {
  color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    font-size: 1.9rem;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.byn {
  filter: grayscale(100%);
}
header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}
picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  background-color: var(--bg-color);
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
nav > ul > li {
  list-style: none;
  padding-right: 20px;
}
.text_nav{
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}
.btn {
  border-radius: 50px;
}
/* .recuadro {
  width: 100%;
  height: calc(100vh - 3rem);
} */
.fondo_servicios{
  /* width: 100%; */
  /* display: flex; */
  /* height: 500px; */
  position: relative;
  background-image: url(assets/banner/bannerphoto1.svg);
  background-repeat: no-repeat;
  background-size: 100% cover;
  background-position: center;
}
.forma{
  position: relative;
  top: 10px;
  width: 100%;
}
.title_service{
  
  font-size: 1.5rem;
}
.parrafo_service{
  font-size: 1rem;
}
/* .absolute {
  width: 45rem;
  text-align: center;
  padding: 30px;
  position: absolute;
  top: 35%;
  left: 26%;
  background: rgba(13, 12, 12, 0.4);
  filter: blur(0.5px);
  border-radius: 20px;
} */
.boton {
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: bold;
}
.botonbg {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: bold;
}
.background {
  /* background-image: url(assets/banner/bannerphoto1.svg); */
  background: linear-gradient(0deg, rgba(238, 11, 11, 0.20) 0%, rgba(238, 11, 11, 0.20) 100%), url(assets/banner/bannerphoto1.svg), lightgray 0px -17.758px / 100% 133.263% no-repeat;
  /* filter: blur(3px); */
  background-position: center;
  background-size: 100% auto;
  width: 100%;
  height: 700px;
}
h3{
  color: var(--bg-color);
}
.fondo {
  /* position: relative;
  margin-bottom: 20rem; */
  display:none;
}
.anuncio {
  position: absolute;
  top: 8%;
  text-align: center;
}
.carteleras{
  /* position: absolute; */
  display : flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 65%;
  
}
.checke{
  font-size: 5rem;
  text-align: center;
}
.icon{
  font-size: 3rem;
  /* text-align: center; */
  margin: 0 auto;
}
.text_cartelera{
  font-size: .7rem;
  font-weight: 700;
}
.cartelera {
  position: relative; 
   top: 300px;
   display: flex;
  flex-direction: column; 
  z-index: 5;
  /* height: 20rem; */
  /* font-size: .5rem; */
  /* min-width: 12rem; */
  width: 47%;
  /* height: 140px; */
  max-width: 50%; 
  /* gap: 2px; */
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.clearfix {
  /* clear: both; */
  height: 12rem;
}
.galeriatext{
  color: var(--bg-color); 
}
.grid-layout{
  display: grid; 
  /* padding: 20px; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5,1fr);
  /* justify-content: space-around; */
  /* background: #444; */
  /* width: 100%; */
  /* margin: 0 auto; */
  /* height: 80%; */
  gap: 5px;
  /* justify-content: space-between;
  align-content: space-between; */
}
.caja img{
  display: flex;
  width: 100%;
  height:  100%;
  object-fit: fill;
}
.c1{
  grid-column: 1/2;
  grid-row: 1/2;
}
.c2{
  grid-column: 2/3;
  grid-row: 1/2;
}
.c3{
  grid-column: 3/4;
  grid-row: 1/2;
}

.c4{
  grid-column: 1/3;
  grid-row: 2/3;
}
.c5{
  grid-column: 3/4;
  grid-row: 2/4;

}
.c6{
  grid-column: 1/3;
  grid-row: 3/5;
  /* offset: 3; */

}
.c7{
  grid-column: 1/2;
  grid-row: 5/6;

}
.c8{
  grid-column: 2/3;
  grid-row: 5/6;
}
.c9{
  grid-column: 3/4;
  grid-row: 4/6;
}
.contac{
  list-style: none;
}
.contac li{
  margin-bottom: 15px;
}
@media screen and (min-width: 320px) {
  .anuncio{
    font-size: 8rem;
  }
  .carteleras{
    margin-bottom: 40%;
  }
  
}
@media screen and (max-width: 320px) {
  .carteleras{
    margin-bottom: 80%;
  }
  
}
@media screen and (min-width: 321px) {
  .carteleras{
    margin-bottom: 15rem;
  }
  
}

@media screen and (min-width: 748px) {
  .carteleras{
    margin-bottom: 25%;
  }
}
@media screen and (min-width: 991px) {
  .carteleras{
    margin-bottom: 15%;
  }
  
}
@media screen and (min-width: 1200px) {
  .fondo_servicios{
    margin-bottom: 20%;
  }
  
  .carteleras{
    margin-bottom: 5%;
    width: 50%;
    position: relative;
    top: 70px;
    left: 300px;
    /* flex-wrap: nowrap; */
  }
  .anuncio{
    
    margin: auto;
    /* font-size: 3rem; */
  }
  .parrafo_service{
    font-size: 1.5rem;
  }
  .galeria-cuadro{
    width: 70%;
    /* height: 400px; */
  }
}